@switch (brand) {
  @case ('company') {
    <span class="tile tile--company">
      <img src="logos/rentphoenix-technologies.webp" width="128" height="128" alt="" decoding="async">
    </span>
  }
  @case ('rentphoenix-os') {
    <span class="tile tile--rpos">
      <img src="logos/rentphoenix-os.webp" width="160" height="160" alt="" decoding="async">
    </span>
  }
  @case ('cofounder') {
    <span class="tile tile--cofounder">
      <img src="logos/cofounder-mark.webp" width="128" height="128" alt="" decoding="async">
    </span>
  }
}
